body , main{
    background-color: rgba(45, 45, 45, 0.1);
}
p{
    font-size: 22px;
}
article{
    display: block;
}
.article1 , .article2 , .article3{
    text-align: justify;
    font-size: 19px;
}
h1{
    text-align: center;
    font-size: 50px;
    padding-top: 10px;
    font-family: 'Roboto Slab', serif;
}
#quote{
    text-align: center;
    font-size: 25px;
}
#title-name{
    padding-left: 65px;
    padding-top: 10px;
}
#img-div{
    display: grid;
    margin: 5px 5px 5px 5px;
    background-color: #fff;
    padding: 0px 5px 0px 5px;
    
}
#image{
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    background-color: #fff;
    padding: 10px 5px 5px 5px;
}
#img-caption{
    margin-left: auto;
    margin-right: auto;
    
}
h3{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-bottom: 15px;
    font-weight: 10;
    font-size: 30px;
}
#tribute-info{
    display: grid;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 60px;
    
}
h4{
    font-size: 20px;
}
#foo{
    background-color: #f21414e0;
    color: white;
}
ul li{
    font-size: 20px;
}

#items{
    display: flex;
    height: 10px;
    justify-content: center;
    /*vertical-align: center;*/
    flex-direction: row-reverse;  
    background-color: #fff;
    border: none;
    text-decoration: none;
   
}

footer{
    display: grid;
    height: auto;
    width: 100%;
    text-align: center;
    font-size: 22px;
}
#insta, #fb, #linkd, #twite{
    display: grid;
    padding: 0px 10px 0px 10px;
    margin-bottom: 25px;
}
#Instagram{
    margin: 25px;
    color: white;
    width: 50px;
    height: 50px;
    border-radius: 50%;

}
#Facebook{
    margin: 25px;
    background-color:#4267B2 ;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
#Linkdin{
    margin: 25px;
    width: 50px;
    height: 50px;
    background-color:#0072b1;
    border-radius: 50%;
}
#Twitter{
    margin: 25px 0px 0px 0px;
    width: 50px;
    height: 50px;
    background-color:#a3c5db;
    border-radius: 50%;
}


